.mk-scorecard {
.mk-scorecard {
  display: grid;
  grid-template-columns:
    6% 6% 6% 10% 10% 10% 10% 10% 10% 10% 10% 6%;
  grid-auto-rows: 32px;
  gap: 1px;
  background: #000;
}
.mk-cell {
  background: #fff;
  color: #000;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  box-sizing: border-box;
}
.mk-row-1 .mk-cell {
  background: #004d00;
  color: #fff;
  font-style: italic;
  font-weight: bold;
}
